{% extends "layout.html" %}
{% load static %}
{% block layout %}
<section>

    <div class="bg-gradient-to-r from-yellow-400 to-red-500 font-[sans-serif] p-6 py-32">
          <div class="container mx-auto flex flex-col justify-center items-center">
               <h2 class="text-white text-3xl font-bold mb-4">Añade autos a la colección</h2>
               <p class="text-white text-base text-center mb-6"></p>
          </div>
     </div>

     <div class="w-full py-10 flex items-center justify-center">
          <div class="bg-yellow-500 rounded-xl shadow-xl w-96 h-96 text-white p-5">
               <h1 class="text-xl font-bold">Carga un nuevo auto</h1>

               <form class="flex flex-col justify-around items-center h-full" action="" method="POST">{% csrf_token %}
                    <div class="flex items-center gap-2">
                         <label>Nombre:</label>
                         <input class="py-1 rounded text-black " type="text" name="name" required>
                    </div>
                    <div class="flex items-center gap-2">
                         <label>Precio:</label>
                         <input class="py-1 rounded text-black " type="number" name="price" required>
                    </div>
                    <div class="flex items-center gap-2">
                         <label>Color:</label>
                         <input class="py-1 rounded text-black " type="color" name="color">
                    </div>

                    <div class="flex items-center gap-2">
                         <label>Imagen:</label>
                         <input class="py-1 rounded text-black " type="text" name="image" placeholder="URL">
                    </div>

                    <div class="flex items-center gap-2">
                         <label>Descripción:</label>
                         <input class="py-1 rounded text-black " type="text" name="description">
                    </div>

                    <button type="submit" class="bg-white px-4 py-2 text-xl font-semibold rounded text-yellow-500">
                         Cargar
                    </button>

                    {% if carsForm.errors %}
                    <p class="text-red font-bold">Hay errores en el formulario, revisa de nuevo.</p>
                    {% endif %}
               </form>

          </div>
     </div>
     
</section>
{% endblock %}