{% extends "layout.html" %}
{% load static %}
{% block layout %}
<section class="my-10">

     <div class="bg-gradient-to-r from-pink-500 to-purple-600  p-6 py-32">
          <div class="container mx-auto flex flex-col justify-center items-center">
               <h2 class="text-white text-3xl font-bold mb-4">¡Conoce y añade a nuestros empleados!</h2>
               <p class="text-white text-base text-center mb-6"></p>
          </div>
     </div>
     <div class="w-full py-10 flex items-center justify-center">
          <div class="bg-[#A237DC] rounded-xl shadow-xl w-96 h-96 text-white p-5">
               <h1 class="text-xl font-bold">Carga un nuevo empleado</h1>
               <form class="flex flex-col justify-around items-center h-full" action="" method="POST">{% csrf_token %}
                    <div class="flex items-center gap-2">
                         <label>Nombre:</label>
                         <input class="py-1 rounded text-black " type="text" name="name" required>
                    </div>
                    <div class="flex items-center gap-2">
                         <label>Email:</label>
                         <input class="py-1 rounded text-black " type="email" name="email" required>
                    </div>
                    <div class="flex items-center gap-2">
                         <label>Dia de contrato:</label>
                         <input class="py-1 rounded text-black " type="date" name="contract_date">
                    </div>
                    <div class="flex items-center gap-2">
                         <label>Cargo:</label>
                         <select class="py-1 rounded text-black " name="position">
                              {% for positions in positions %}
                              <option value="{{ position.id }}">{{ position.name }}</option>
                              {% endfor %}
                         </select>
                    </div>

                    <button type="submit" class="bg-white px-4 py-2 text-xl font-semibold rounded text-purple-600">
                         Cargar
                    </button>

                    {% if employeeForm.errors %}
                    <p class="text-red font-bold">Hay errores en el formulario, revisa de nuevo.</p>
                    {% endif %}
               </form>
          </div>
     </div>

     <div class="w-full flex flex-wrap ">
          {% for employee in employees %}
          <div class="bg-white shadow-[0_8px_12px_-6px_rgba(0,0,0,0.2)] border p-6 w-full max-w-sm rounded-lg font-[sans-serif] overflow-hidden mx-auto mt-4">
               <h3 class="text-xl font-bold text-[#333]">{{employee.name}}</h3>
               <p class="mt-4 text-sm text-gray-500">{{employee.email}}</p>
          </div>
          {% endfor %}
     </div>
</section>
{% endblock %}